
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading1">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    About Account Creation <span class="glyphicon glyphicon-user"></span>
                </a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
            <div class="panel-body">
                You may want to create an account in order to be able to access all the website content. To do so please fill the registration form right <a href="/Account/Register">here</a>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading2">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Posting a Quote <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
            <div class="panel-body">
                To share your thoughts with other community members go to <a href="/Quote/MyQuotes">your wall</a>, and post a new quote ! You can gain reactions and experience from other users, maybe even win badges if you are popular enough.
            </div>
        </div>
    </div>
</div>

