@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 dev-banner">
        <h2>Welcome to MyQuotes</h2>
        <p>
            This is a beta website in developmennt
        </p>
    </div>
</div>