@using Quotes.Models
@{
    ViewBag.Title = "Home Page";
    var isAdmin = Request.IsAuthenticated && User.IsInRole("Admin");
}
<script src="../../Scripts/ckeditor/ckeditor.js"></script>
<div class="page-header">
    <h1>Welcome to MyQuotes</h1>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-floppy-saved"></span>&ensp;Last Registered Users</h3>
            </div>
            <div class="panel-body">                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        @if (isAdmin)
        {

             <button id="newAnn" type="button" class="btn btn-default" style="margin-bottom: 20px" onclick="newAnnouncement()"><span class="glyphicon glyphicon-plus"></span>&ensp;New Announcement</button>
        }
        @{
            Html.RenderAction("List","Announcement");
        }
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-king"></span>&ensp;Top 10 Users</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-tag"></span>&ensp;Top 10 Tags</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
        <div class="panel panel-default panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span>&ensp;Key Figures</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>


@if (isAdmin)
{
    <script>
        function newAnnouncement() {
            $.post("Announcement/Create",function(data) {
                if (data.success) {
                    location.reload();
                   
                } else {
                    $("#errorMessage").text("There was an error creating a new announcement :" + data.message);
                    $("#errorBox").show();
                }
            });
        }
    </script>
}








