@using Quotes.Models
@{
    ViewBag.Title = "Home Page";
    var isAdmin = Request.IsAuthenticated && User.IsInRole("Admin");
}
<script src="../../Scripts/ckeditor/ckeditor.js"></script>
<div class="page-header">
    <h1>Welcome to MyQuotes</h1>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-floppy-saved"></span>&ensp;Last Registered Users</h3>
            </div>
            <div class="panel-body">
                <ul id="lastRegisterUsers">
                </ul>                
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        @if (isAdmin)
        {

             <button id="newAnn" type="button" class="btn btn-default" style="margin-bottom: 20px" onclick="newAnnouncement()"><span class="glyphicon glyphicon-plus"></span>&ensp;New Announcement</button>
        }
        @{
            Html.RenderAction("List","Announcement");
        }
    </div>
    <div class="col-lg-3">
        <div class="panel panel-default panel-success" style="border-color: goldenrod;">
            <div class="panel-heading" style="background-image:url('/Content/img/gold-leather.jpg');color: black;">
                <h3 class="panel-title"><span class="glyphicon glyphicon-king"></span>&ensp;Top 10 Users</h3>
            </div>
            <div id="topUsers" class="panel-body">
            </div>
        </div>
        <div class="panel panel-default panel-info" style="border-color: blue;">
            <div class="panel-heading" style="background-image:url('/Content/img/blue-leather.jpg');color: white;">
                <h3 class="panel-title"><span class="glyphicon glyphicon-tag"></span>&ensp;Top 10 Tags</h3>
            </div>
            <div id="topTags" class="panel-body">
            </div>
        </div>
        <div class="panel panel-default panel-info" style="border-color: blue;">
            <div class="panel-heading" style="background-image:url('/Content/img/blue-leather.jpg');color: white;">
                <h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span>&ensp;Key Figures</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>


@if (isAdmin)
{
    <script>
        function newAnnouncement() {
            $.post("Announcement/Create",function(data) {
                if (data.success) {
                    location.reload();
                   
                } else {
                    $("#errorMessage").text("There was an error creating a new announcement :" + data.message);
                    $("#errorBox").show();
                }
            });
        }
    </script>
}

<script>
    updateLastUsers();
    function updateLastUsers() {
        $.get("Users/LastRegistered", function (data) {
            if (data.success) {
                $("#lastRegisterUsers").empty();
                $.each(data.users, function (i) {
                    $("#lastRegisterUsers").append(
                        $('<li>')
                        .text(data.users[i].Username + " : " + data.users[i].Label)
                    );
                });
            } else {
                $("#lastRegisterUsers").text("Error loading users...");
                console.log(data.message);
            }
        });

    }

    function updateTopUsers() {
        //Top all time

        //Top month

        //Top week

    }

    setInterval(updateLastUsers, 60000);
    setInterval(updateTopUsers, 3600000);


</script>







