@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 ">
        <h2>Welcome to MyQuotes</h2>
        <p>
            This is a beta website in development
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Latest Quotes</h2>
        <p>
            Dynamic/live display of the latest quotes posted on the website (use queue/buffer to avoid spam).
        </p>
    </div>
</div>