@model List<Quotes.Models.MailViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Mailbox</h2>

<div class="col-lg-3 col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">
            Folders
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation"><a href="#">Messages <span class="badge">42</span></a></li>
                <li role="presentation"><a href="#">Sent</a></li>
                <li role="presentation"><a href="#">Archived</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-2">
    <div class="panel panel-default">
        <div class="panel-heading">             
            <button class="btn btn-default btn-sm" onclick="OpenNewMail()"><span class="glyphicon glyphicon-envelope"></span>&nbsp; New Message</button>
        </div>
        <div class="panel-body" style="min-height:400px;margin:0;padding:0">
            <div class="MainDisplay">
                @Html.Partial("_List", Model)
            </div>
            <div class="AltDisplay">

            </div>
        </div>
        <div class="panel-footer">
            <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                    <span class="sr-only">20% Complete</span>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function GoToList() {
        $(".AltDisplay").hide('slide', { direction: 'right' }, 500, function () {
            $(".MainDisplay").fadeIn();
        })
        
    }
    function OpenNewMail() {
        $.ajax({
            url: "/Mail/Create",
            type: "GET"
        })
        .done(function (partialViewResult) {
            $(".MainDisplay").fadeOut(); 
            $(".AltDisplay").html(partialViewResult);
            $(".AltDisplay").show('slide', { direction: 'right' }, 500);
                     
        });
    }
   
</script>
<style>
    .pagination {
        float:right;
        margin:0px;
        margin-left:20px;
    }

</style>
