body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.row {

    padding-bottom: 20px;
}

.badge-like {
    background-color: #6EB4FF;
}
.btn-like :focus{
     outline-color: #6EB4FF;
}

.badge-dislike {
    background-color: #FFA8A8;
}

.btn-dislike:active:focus{
     outline-color: #FFA8A8;
}
.btn-dislike:active{
     outline-color: #FFA8A8;
}
.btn-dislike:focus{
     outline-color: #FFA8A8;
}

.badge-star {
    background-color: #FFCC00;
}
.btn-star:active:focus{
     outline-color: #FFCC00;
}
.btn-star:active{
     outline-color: #FFCC00;
}
.btn-star:focus{
     outline-color: #FFCC00;
}